<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>An error has occurred.</h1>
    <p>We are looking into it and this should be resolved soon.</p>


    <%- include('includes/end.ejs') %>